#upload_files {
    width: 600px;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
}

#drop_zone {
    border: 2px dashed #bbb;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

#file_list {
    display: inline;
}

#the_link {
    display: block;
    margin: 30px;
    font: 20pt bold 'Vollkorn';
}

.file_item {
    list-style-type: none;
    margin: 3px 0;
    padding: 5px 15px;
    border-radius: 7px;
    background: #8be;
}

.file_item:hover {
    background: #9cf;
}

.file_item .name {
    font-weight: bold;
}

.file_item .type {
    color: #666;
    margin-left: 5px;
}

.file_item .size {
    float: right;
}

.file_item .size:after {
    content: "X";
    background-color:yellow;
    color:red;
    font-weight:bold;
}
